<label class="control-label" for="{{element.name}}" xmlns="http://www.w3.org/1999/html">{{element.label}}</label>
<div class="controls" ng-switch on="element.widgetType">
	<input ng-switch-when="RichText" type="text" ng-model="element.value">
	<input ng-switch-when="TextBox" type="text" id="{{element.name}}" ng-model="element.value">
	<span ng-switch-when="Choice">
		<label class="radio inline" ng-repeat="choice in element.selectionChoices">
  			<input type="radio" ng-model="element.value" value="{{choice}}">{{choice}}
		</label>
	</span>
	<select ng-switch-when="Dropdown" ng-model="element.value" ng-options="sc for sc in element.selectionChoices"></select>
	<input ng-switch-when="SearchChoice" type="text"
           ng-model="parameter.elements[0].value"
           typeahead="suggestion.designation for suggestion in cts2search($viewValue)"
           typeahead-editable="false"
           typeahead-on-select="onSelect($item, $model, $label)">
	<div ng-switch-when="DateTimeLocal">
		<input type="datetime-local" ng-model="element.value">
		<span ng-if="element.attributeName">
			<input type="checkbox" ng-model="element.attributeValue"> {{element.attributeName}}
		</span>
	</div>
	<div ng-switch-when="Number">
		<input type="number" ng-model="element.value" step="{{element.step}}">
		<span ng-if="element.attributeName">
			<input type="checkbox" ng-model="element.attributeValue"> {{element.attributeName}}
		</span>
	</div>
	<input ng-switch-when="Checkbox" type="checkbox" ng-model="element.value">
	<span class="help-inline">{{element.errors[0]}}</span>
</div>