<div class="modal-header">
	<h5 class="text-center">You have selected: <span class="borderedBox" style="padding: 8px; background-color: lightcyan; border-radius: 20px;">{{clause.name}}</span></h5>
</div>
<div class="modal-body">
	<form class="form-inline text-center" name="expressionName">
  		<label class="control-label">Nickname:</label>
    	<input type="text" style="width: 83%;">
    	<i class="icon-question" x-popover-placement="left" x-popover="This is the name that will be displayed in the logic editor. It should be easy to remember what the clause means based on the name you give it. A default has been assigned." x-popover-title="Nickname"></i>
  	</form>
	<div show-data template="{{template}}"></div>
</div>
<div class="modal-footer">
	<a  href="" class="span2" ng-click="verify(detail)"><i class="icon-ok icon-3x"></i> Verify</a>
	<a  href="" class="span2" ng-click="submit(detail)"><i class="icon-save icon-3x"></i> Confirm and Save</a>
	<a  href="" class="span2" ng-click="cancel()"><i class="icon-remove-circle icon-3x"></i> Cancel</a>
</div>