<div class="modal-header">
	<h3>Export Artifact</h3>
</div>
<div class="modal-body">
	<form>
		<fieldset>
			<label>Artifact to Export</label>
			<ul class="nav nav-list borderedBox" style="width: 494px;">
				<li x-ng-repeat="rule in rules"><a href="" class="nav-header" x-ng-click="rule.show = !rule.show" x-ng-show="(rule.templates | filter:ruleFilter).length > 0"><i class="icon-folder-open-alt" x-ng-show="!rule.show"></i><i class="icon-folder-close-alt" x-ng-show="rule.show"></i>{{rule.label}}</a>
					<ul class="nav nav-list" x-ng-show="!rule.show">
						<li x-ng-repeat="template in rule.templates | filter:ruleFilter" x-ng-click="select(template)" x-ng-class="{active: template.name == selectedRule}"><a href=""><i class="icon-file-text-alt"></i>{{template.name}}</a></li>
					</ul>
				</li>
			</ul><br>
			<div class="search-prepend">
				<div class="icon-search icon-white"></div>
				<input type="text" class="search-query" placeholder="Filter the rules by name" x-ng-model="ruleFilter"  style="width: 485px;">
			</div><br>
			<label class="control-label" for="inputType">Type</label>
			<select>
				<option>HeD</option>
				<option>Arden</option>
			</select>
			<p class="text-info">{{status}}</p>
		</fieldset>
    </form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-link" x-ng-click="export()" x-ng-disabled="!selectedRule"><i class="icon-cloud-download icon-3x"></i> Export</button>
	<a  href="" x-ng-click="close()"><i class="icon-remove-circle icon-3x"></i> Close</a>
</div>