<div class="row-fluid">
	<div class="borderedBox span6" style="padding: 7px;">
		<div class="search-prepend offset2">
			Write a logic clause about:
			<div class="icon-search icon-white" style="left: 182px;"></div>
			<input type="text" class="search-query" placeholder="search">
		</div><br>
		<p class="text-center">Select an option bellow (a new window will open)</p>
		<div class="gridStyle borderedBox" ng-grid="gridOptions" style="height: 200px;"></div>
		<p class="text-center"><b>All of the items bellow may be dragged in to the canvas on the right</b></p>
		<p class="text-center"><i>Remember, you may drop anything in a container (including other containers), but nothing may go inside a clause.</i></p>
		<div class="borderedBox">
			<p style="margin-top: -11px; margin-left: 6px; background:white; width: 165px;">You Clauses (newest first)</p>
			<p>Hx - High HgA1c</p>
		</div>
	</div>
	<div class="borderedBox span6">
	
	</div>
</div>
<div class="row-fluid">
	<a href="#/standard/trigger" class="span1 text-center">
		<i class="icon-caret-left icon-5x"></i><br>Return to previous step
	</a>
	<a href="#/standard/action" class="span1 offset10 text-center">
		<i class="icon-caret-right icon-5x"></i><br>I'm done defining rule logic
	</a>
</div>