<p class="text-center">Use the navigation bar above to make any needed changes, then save/submit the rule using the buttons below</p>
<div class="row-fluid">
	<pre class="prettyprint span6" style="height: 900px; overflow: auto" ng-bind-html="xml | prettify"></pre>
	<pre class="prettyprint span6" style="height: 900px; overflow: auto">{{xslt}}</pre>
</div>
<div class="row-fluid">
	<a href="#/standard/action" class="span1 text-center"><i class="icon-caret-left icon-5x"></i><br>Return to previous step</a>
	<form class="form-inline span3">
  		<label>Status:</label>
		<select>
			<option>Draft</option>
			<option>InTest</option>
			<option>Active</option>
			<option>Inactive</option>
		</select>
	</form>
	<a href="" class="span3 text-center"><i class="icon-save icon-3x"></i> Save, Don't Submit for Publication</a>
	<a href="" class="span3 text-center"><i class="icon-ok icon-3x"></i> Approve and Submit</a>
</div>