<p class="text-center">Use the navigation bar above to make any needed changes, then save/submit the rule using the buttons below</p>
<div class="row-fluid">
	<form class="form-inline span4">
		<label><strong>Artifact Name:</strong></label>
        <input class="input-xlarge" type="text" x-ng-model="background.Name" >
  	</form>
  	<form class="text-center form-inline span4">
  		<label><strong>Status:</strong></label>
		<select class="input-xlarge" x-ng-model="background.Status">
			<option>Draft</option>
			<option>InTest</option>
			<option>Active</option>
			<option>Inactive</option>
		</select>
	</form>
  	<a href="" x-ng-click="saveBackground(background)" class="text-center offset3 span1"><i class="icon-save icon-3x"></i> Save</a>
</div>

</div>
    <label><strong>Pick output:</strong></label>
    <select x-ng-model="outputFormat" ng-change="refresh()">
        <option>HED_XML</option>
        <option>HED_OWL</option>
        <option>HED_TEXT</option>
    </select>
</div>

<div class="row-fluid" style="left: 0; right: 0; bottom: 13px;">
	<pre class="prettyprint span8 offset2" style="height: 100%; overflow: auto" ng-bind-html="xml | prettify" />
</div>