<script type="text/ng-template" id="menu_item_renderer.html">
	<div class="borderedBox">
		<span ng-show="root.codeSystem"><b>Code System:</b> {{root.codeSystem}}<br></span>
		<span ng-show="root.name"><b>Name:</b> {{root.name}}<br></span>
		<span ng-show="root.versionId"><b>Version Id:</b> {{root.versionId}}<br></span>
		<span ng-show="root.artifactId"><b>Artifact Id:</b> {{root.artifactId}}<br></span>
		<span ng-show="root.title"><b>Title:</b> {{root.title}}<br></span>
		<span ng-show="root.status"><b>Status:</b> {{root.status}}<br></span>
		<span ng-show="root.description"><b>Description:</b> {{root.description}}<br></span>
		<span ng-show="root.contributor"><b>Contributor:</b> <a href="{{root.contributor}}" target="_blank">{{root.contributor}}</a><br></span>
		<span ng-show="root.prePublished"><b>Pre Published:</b> {{root.prePublished + 'T24:00Z' | date:'mediumDate'}}<br></span>
		<span ng-show="root.adaptedFrom"><b>Adapted From:</b> <a href="{{root.contributor}}" target="_blank">{{root.contributor}}</a><br></span>
		<span ng-show="root.documentation"><b>Documentation:</b> <a href="{{root.documentation}}" target="_blank">{{root.documentation}}</a><br></span>
		<span ng-show="root.coverageType"><b>Coverage Type:</b> {{root.coverageType}}<br></span>
		<span ng-show="root.supportingResource"><b>Supporting Resource:</b> {{root.supportingResource}}<br></span>
		<span ng-show="root.realizesInformation"><b>Realizes Information:</b> {{root.realizesInformation}}<br></span>
		<span ng-show="root.isA"><b>Is a:</b> {{root.isA}}<br></span>
		<span ng-show="root.label"><b>Label:</b> {{root.label}}<br></span>
		<span ng-show="root.code"><b>Code:</b> {{root.code}}<br></span>
		<span ng-show="root.rightsHolder"><b>Rights Holder:</b> {{root.rightsHolder}}<br></span>
		<span ng-show="root.variableFilterExpression"><b>Variable Filter Expression:</b> {{root.variableFilterExpression}}<br></span>
		<span ng-show="root.productionRuleBoundRuleVariable"><b>Production Rule Bound Rule Variable:</b> {{root.productionRuleBoundRuleVariable}}<br></span>
		<span ng-show="root.associatedResource"><b>Associated Resource:</b> <a href="{{root.associatedResource}}" target="_blank">{{root.associatedResource}}</a><br></span>
		<span ng-show="root.publisher"><b>Publisher:</b> <a href="{{root.publisher}}" target="_blank">{{root.publisher}}</a><br></span>
		<span ng-show="root.conditionRepresentation"><b>Condition Representation:</b> {{root.conditionRepresentation}}<br></span>
		<span ng-show="root.memberAction"><b>Member Action:</b> {{root.memberAction}}<br></span>
		<span ng-show="root.identifier"><b>Identifier:</b> {{root.identifier}}</span>
	</div>
	<ul class="nav nav-list" style="width: 100%;">
		<li ng-repeat="root in root.children" ng-include="'menu_item_renderer.html'"  style="width: 100%;"></li>
	</ul>
</script>
<ul class="nav nav-list">
	<li ng-repeat="root in graph" ng-include="'menu_item_renderer.html'"></li>
</ul>