<div class="mainMenu">
	<h3>Start from Scratch</h3>
	<p>Create a new CDS rule starting from scratch.</p><br>
	<div class="homeBox borderedBox">
		<i class="icon-hand-up icon-5x"></i>
		<div>
			<a href="#/standard/background">Standard Mode</a>
			<p>Provides an enhanced interface to guide you through the process of creating a new rule. This is the easiest mode to use and covers the needs of most users.</p>
		</div>
	</div><br>
	<div class="homeBox borderedBox">
		<i class="icon-cog icon-5x"></i>
		<div>
			<a href="#/advanced">Advanced Mode</a>
			<p>Access to all editing functions. Recommended for experienced users only.</p>
		</div>
	</div>
</div>
<div class="mainMenu">
	<h3>Modify an Existing Rule</h3>
	<p>Revise an existing rule or copy an existing<br>rule to use as a template for a new rule.</p>
	<div class="homeBox borderedBox">
		<i class="icon-edit icon-5x"></i>
		<div>
			<a href="#/revise">Revise My Rules</a>
			<p>Allows you to browser/edit all of your institution's rules for which you have editing privileges.</p>
		</div>
	</div><br>
	<div class="homeBox borderedBox">
		<i class="icon-file-text-alt icon-5x"></i>
		<div>
			<a href="#/others">Use Others' Rules</a>
			<p>Find, copy, and modify externally created rules for use within your institution.</p>
		</div>
	</div>
</div>