body {
	padding: 7px;
}

header {
	border: 3px solid #e5e5e5;
	display: -webkit-flex;
	-webkit-align-items: center;
	padding: 0 20px;
}

.mainMenu {
	-webkit-flex: 1;
	text-align: center;
}

div.mainMenu ul {
	display: inline-block;
	margin-bottom: 0;
}

header div {
	text-align: right;
}

ng-view {
	position: absolute;
	top: 115px;
	bottom: 7px;
	left: 7px;
	right: 7px;
}

.homeBox {
	display: -webkit-flex;
	-webkit-align-items: center;
	width: 330px;
	height: 170px;
	margin: 0 auto;
}

.homeBox * {
	padding: 10px
}

.homeBox div {
	-webkit-flex: 1;
}

.homeBox div p {
	text-align: left;
}

.borderedBox {
	border: 3px solid #e5e5e5;
	border-radius: 5px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.flexibleBox {
	display: -webkit-flex;
}

.standardBackground {
	width: 100%
}

.search-prepend {
	position: relative;
}
  
.search-prepend .search-query {
	padding-left: 29px;
}

.search-prepend .icon-search {
	position: absolute;
	top: 7px;
	left: 11px;
}

.leftBox {
	border-right: 3px solid #e5e5e5;
	padding: 10px;
	-webkit-flex:3;
}

.rightBox {
	-webkit-flex:2;
	padding: 10px;
}

.rightBox div {
	padding: 10px;
}

textarea {
	width: 100%;
}

.gridStyle {
	height: 100px;
}

.radio {
	vertical-align: top;
}