body {
	padding: 7px;
}

header {
	border: 3px solid #e5e5e5;
	display: -webkit-flex;
	-webkit-align-items: center;
	padding: 0 20px;
}

.mainMenu {
	-webkit-flex: 1;
	text-align: center;
}

div.mainMenu ul {
	display: inline-block;
	margin-bottom: 0;
}

header div {
	text-align: right;
}

ng-view {
	position: absolute;
	top: 115px;
	bottom: 7px;
	left: 7px;
	right: 7px;
}

.homeBox {
	display: -webkit-flex;
	-webkit-align-items: center;
	width: 330px;
	/*height: 170px;*/
	margin: 0 auto;
}

.homeBox * {
	padding: 10px
}

.homeBox div {
	-webkit-flex: 1;
}

.homeBox div p {
	text-align: left;
}

.borderedBox {
	border: 3px solid #e5e5e5;
	border-radius: 5px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.flexibleBox {
	display: -webkit-flex;
}

.search-prepend {
	position: relative;
}
  
.search-prepend .search-query {
	padding-left: 29px;
}

.search-prepend .icon-search {
	position: absolute;
	top: 7px;
	left: 11px;
}

.gridStyle {
	height: 100px;
}

.radio {
	vertical-align: top;
}

legend {
	border-style: none;
    border-width: 0;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    width: auto;
}

li.tiny a {
	font-size: 0.9em;
	font-weight: 100;
	color: black;
}

li.small a {
	font-size: 1.1em;
	font-weight: 300;
	color: black;
}

li.medium a {
	font-size: 1.5em;
	font-weight: 500;
	color: black;
}

li.big a {
	font-size: 1.9em;
	font-weight: 700;
	color: red;
}

li.huge a {
	font-size: 2.4em;
	font-weight: 900;
	color: black;
}

.labeled-border {
	margin-top: -12px;
	margin-left: 10px;
	background: white;
	width: auto;
	display: table;
}

.modal {
	width: auto;
	left: 30%;
}

.icon-3x {
	vertical-align: middle;
}